<!-- For deleting an itme from the database we use an HTML form where we override the POST method with a DELETE using the method-override library -->
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="delete">Delete</button>
</form>