<h1>Hi <%= name %></h1>
<!-- We use the npm package method-override to replace the POST method with DELETE in this form -->
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
</form>