<h2>Edit Book</h2>
<!-- The form needs to have enctype="multipart/form-data" to allow to upload files to the server-->
<form action="/books/<%= book.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields.ejs') %>
    <a href="/books">Cancel</a>
    <button type="submit">Update</button>
</form>